/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

body {
  background-color: black;
}

table {
  text-align: center;
  font-size: 9pt;
  background-color: #060ce9;
  color: white;
  border-collapse: collapse;
}

th, td {
  border: solid 1px white;
  width: 12em;
  padding: 1em;
  font-family: serif;
}

th {
  text-transform: uppercase;
  font-weight: bold;
  height: 2 em;
}

td {
  height: 6em;
  font-family: 'Times New Roman', Times, serif;
}

td:hover {
  cursor: pointer;
}